@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #ff6060;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    /* This makes each section darker than its parent */
    background-color: rgba(0,0,0,0.4);
}

.Dashboard {
    background-color: #dbeeff;
    /* height: 90vh;
    width: 90vw; */
    max-width: none;
    border-radius: 5px;
}

.NetVis {
    min-height: 0;
    background-color: #ff6060;
    max-width: none;
    border-radius: 5px;
    height: 400px;
}

.Messages{
    min-height: none;
    background-color: rgba(0,0,0,0);
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
    padding: 1rem 0rem 0rem 0rem;
}

.SideBar {
    min-height: 0;
    max-width: none;
    background-color: #ff6060;
    height: 400px;
    width: 45%;
    border-radius: 10px;
}

.SideBarHeader {
    height: 40px;
    min-height: 0px;
    background-color: rgba(0,0,0,0);
    padding: 0rem;
    justify-content: left;
}

.DM {
    min-height: 0;
    background-color: #EFF6FC;
    max-width: none;
    height: 400px;
    width: 55%;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.searchForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.25rem 0.25rem 0.25rem ;
    padding: 0 0 0 0;
    height: 2rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.messagesList li:nth-child(odd) {
    justify-items: flex-end;
    background-color: rgba(0,0,0,0.4);
}

li {
    list-style-type: none;
    max-width: none;
}

.messagesListEntry {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 180px;
    background-color: rgba(0,0,0,0.1);;
}

.DMListEntry {
    background-color: rgba(0,0,0,0.4);
    border-color: blue;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}